//this contains grid for bottom news bar and ads grid
//Contains divs for respective images 
.bottom-grid-container{
        
        position: absolute;
        top:174%;
        left:11%;
        right:11%;
        width: 76%;
        display: grid;
        border: 1px solid rgba(0, 0, 0,0.2);
        border-right: 0px;
        border-left: 0px;
        border-bottom: 0%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        grid-auto-rows: 250px;
        > div{
            margin-top: 6%;
            margin-bottom:6%;
            width:62%;
            background-color: rgba(255, 255, 255, 0.8);
           
        }
}
.imgbottom{
    
    width: 160%;
    background-image:url('./../src/images/tech.jpg');
    background-size: cover;
    background-size: 100%;
    height: 55%;
    justify-content: center;
}

.imgbottom2{
      @extend  .imgbottom;
      background-image:url('./../src/images/yoga1.jpg');
      background-size:60%;
}

.imgbottom3{
    @extend  .imgbottom;
    background-image:url('./../src/images/business1.jpg');
}

.imgad{
    
    width: 100%;  
    background-image:url('./../src/images/ads1.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-size:80%;
    height: 125%;
    justify-content: center;
}

.imgad1{
    
    width: 100%;  
    background-image:url('./../src/images/ads1.jpg');
    background-size: cover;
    //background-repeat:no-repeat;
    background-size: 100%;
    height: 100%;
    justify-content: center;
}
.imgad2{
    
    width: 100%;  
    background-image:url('./../src/images/ads2.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: 100%;
    height: 125%;
    justify-content: center;
}

.content_date_bottom
{
    position: relative;
    background-color: white;
    width: 30%;
    text-align: center;
    font-size: 90%;
    padding: 4px;
    left: 5%;
    top: 70%;
}

.bcontent{
    position:relative;
    line-height: 25px;
    background-color: white;
    width:158%;
    text-align: left;
    font-size: 80%;
    padding:5px;
    
}
//this is the grid container for ads
.ads{
    position: absolute;
    top:215%;
    left:11%;
    right:11%;
    width: 76%;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 60px;
    grid-auto-rows: 100px;
    height:20%;
}
//this is the grid container for bottom news bar
.end-grid-container{
    position: absolute;
    top:235%;
    left:5%;
    right: 5%;
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 2fr ;
    .square {
        font-size: 65%;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        width: 100%;
        line-height:  50px;
        height:50px;
        background: rgba(0, 0, 0,0.9);
      }
    
      .square2 {
        box-shadow: 5px rgba(255,255,255,0.8);
        font-size: 60%;
        width: 100%;
        height: 75%;
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        line-height:  40px;
        background: rgba(0, 0, 0,0.8);
    
      }
    }
    //this is the grid container for the bottom most logos
.logos-grid-container{
        
    position: absolute;
    width: 60%;
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -3.5%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-columns: 50px;
    grid-auto-rows: 50px;
    .logo1{
        margin-left: 15%;
        margin-right: 15%;
        width: 100px;
        content:url('./../src/images/cnbc.png');
        height:100px; 
    }  
    
    .logo2{
        @extend  .logo1;
       content:url('./../src/images/nbcnews.png');
    }
    .logo3{
        @extend  .logo1;
       content:url('./../src/images/MSNBC.png');
    }
    .logo4{
        @extend  .logo1;
       content:url('./../src/images/today.png');
    }
    
    .logo5{
        @extend  .logo1;
       content:url('./../src/images/xfinity.png');
    }
}


